.inicio-container {
    background-color: #bef5e4;
}

.reforest-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    animation: fadeInOut 10s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  