.inicio-container {
    width: 100%;
    height: calc(100vh - 120px); /* Ajusta la altura restando el tamaño del header */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-container{
    position: absolute;
    height: 100vh;
}

