.container-title h1 {
    width: 40%;
}

.container-title h6 {
    width: 10%;
    font-size: 40%;
    position: fixed;
    margin-left: 80%;
    color: beige;
    text-align:right;
}

.button-logout {
    position: fixed;
    margin-left: 95%;
    margin-top: -0.4%;
    cursor: pointer;

}

.inicio-container .container-title h1 {
    font-size: 80%;
  }
