/* 
  Global styles for the entire application.
  Ensures that the root element, body, and html take up the full viewport.
  Sets a dark background color for the entire application.
*/
html, 
body,
#root {
  margin: 0;
  padding: 0;
  user-select: none;
}

/* 
  Styles for the canvas element to disable touch interactions.
  Ensures smooth interactions with the canvas, especially for graphical applications.
*/
canvas {
    touch-action: none; /* Disables touch interactions to avoid conflicts */
}

/* 
  Button active state.
  Provides feedback by changing the background color and resetting the button position when clicked.
*/
button:active {
    background-color: #2f8a2d; /* Darker background color on click */
    transform: translateY(0); /* Resets the button position */
}


/* 
  Styling for buttons.
  Defines padding, font size, background color, border radius, and adds transition effects.
*/
button {
  padding: 12px 24px; /* Adds space inside the button */
  font-size: 18px; /* Sets the font size */
  color: #000000; /* Sets the text color to black */
  background-color: beige; /* Light background color for the button */
  border: none; /* Removes default border */
  border-radius: 8px; /* Rounds the corners of the button */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for a 3D effect */
  margin-top: 20px; /* Adds space above the button */
}



